
      <title>The Materialize Example</title>
      <meta name="viewport" content="width = device-width, initial-scale = 1">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script>


<div class="card-panel grey lighten-1">
<h5>Welcome Back Administrator!</h5>


<!-- Facilitator List -->
<ul class="collection">
<li class="collection-item">Facilitator 1
    <!-- Modal Trigger To View Profile -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Click To See Profile</a>

    <!-- Modal Structure View Profile -->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Facilitator 1</h4>
        <p>Last Logged In:</p>
        <p>Log In Times:</p>
        <p>Country:</p>
        <p>Join Date:</p>
        <p>Position:</p>
        <p>Work Experience:</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>


    <!-- Modal Trigger To Edit -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal3">Edit</a>

      <!-- Modal Structure Edit Country -->
      <div id="modal5" class="modal">
          <div class="modal-content">
            <select class="browser-default">
            <option value="" disabled="" selected="">Select Country</option>
            <option value="1">United States</option>
            <option value="2">United Kingdom</option>
            <option value="3">Kenya</option>
        </select>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Enter</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div>

      <!-- Modal Structure Edit Join Date -->
      <div id="modal6" class="modal">
          <div class="modal-content">
             <input id="join_date" type="text" class="datepicker">
             <label for="join_date">Join Date</label>
        </select>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Enter</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div>

      <!-- Modal Structure Edit Position -->
      <div id="modal7" class="modal">
          <div class="modal-content">
            <select class="browser-default">
              <option value="" disabled="" selected="">Select Position</option>
              <option value="1">Senior Facilitator</option>
              <option value="2">Intern Facilitator</option>
        </select>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Enter</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div>

      <!-- Modal Structure Edit Work Experience -->
      <div id="modal8" class="modal">
          <div class="modal-content">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Work Experience</label>
                  </div>
        </select>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Enter</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
          </div>
        </div>



    <!-- Modal Structure Edit -->
    <div id="modal3" class="modal">
      <div class="modal-content">
        <h4>Facilitator 1</h4>

            <!-- Modal Trigger To Edit Country -->
            <button data-target="modal5" class="btn modal-trigger">Edit Country</button>

            <!-- Modal Trigger To Edit Join Date -->
            <p>
            <button data-target="modal6" class="btn modal-trigger">Edit Join Date</button>
            </p>

            <!-- Modal Trigger To Edit Position -->
            <p>
            <button data-target="modal7" class="btn modal-trigger">Edit Position</button>
            </p>

            <!-- Modal Trigger To Edit Work Experience -->
            <p>
            <button data-target="modal8" class="btn modal-trigger">Edit Work Experience</button>
            </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <!-- Modal Trigger To Delete -->
    <a class="waves-effect waves-light btn modal-trigger" href="#modal4">Delete</a>

    <!-- Modal Structure View Profile -->
    <div id="modal4" class="modal">
      <div class="modal-content">
        <h4>Facilitator 1</h4>
        <p>Are you sure you want to delete user?</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Yes</a>
      </div>
    </div>

</li>

<li class="collection-item">Facilitator 2</li>
<li class="collection-item">Facilitator 3</li>
<li class="collection-item">Facilitator 4</li>
</ul>

  <!-- Add Facilitator Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Facilitator</a>

  <!-- Add Facilitator Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Add Facilitator Information</h4>

            <!-- Facilitator First/Last Name -->
            <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="first_name" type="text" class="validate">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s7">
                  <input id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
            </div>

            <!-- Facilitator Join Date -->
            <div class="row">
             <div class="input-field col s7">
             <input id="join_date" type="text" class="datepicker">
             <label for="join_date">Join Date</label>
            </div>

            <!-- Facilitator Country -->
            <select class="browser-default">
                <option value="" disabled="" selected="">Select Country</option>
                <option value="1">United States</option>
                <option value="2">United Kingdom</option>
                <option value="3">Kenya</option>
            </select>

            <!-- Facilitator Position -->
            <select class="browser-default">
                <option value="" disabled="" selected="">Select Position</option>
                <option value="1">Senior Facilitator</option>
                <option value="2">Intern Facilitator</option>
            </select>

            <!-- Facilitator Work Experience -->
            <div class="row">
              <form class="col s12">
                <div class="row">
                  <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Work Experience</label>
                  </div>
                </div>
              </form>
            </div>


          </div></form>



    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add</a>
    </div>
  </div>


  </div>




  <!-- Add Facilitator Modal Initialization -->
 <script language="JavaScript">
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
  // Or with jQuery

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });

$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });


  </script>  </div>
