<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Developed by the BU Hack4Impact team, 2018.-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>HAARTKenya Facilitator form</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>
<script type="text/javascript" src="calendar.js"></script>
</head>
<body id="main_body" >
	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	<!--Name of webpage-->
		<h1><a>HAARTKenya Facilitator form</a></h1>
		<form id="form_32820" class="appnitro" enctype="multipart/form-data" method="post" action="">
					<div class="form_description">
			<h2>Facilitator Form</h2>
			<p>Some description.</p>
		</div>						
			<ul >
			
					<li id="li_1" >
		<label class="description" for="element_1">Insert workshop date </label>
		<span>
			<input id="element_1_1" name="element_1_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_1_1">MM</label>
		</span>
		<span>
			<input id="element_1_2" name="element_1_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_1_2">DD</label>
		</span>
		<span>
	 		<input id="element_1_3" name="element_1_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_1_3">YYYY</label>
		</span>
	
		<span id="calendar_1">
			<img id="cal_img_1" class="datepicker" src="calendar.gif" alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_1_3",
			baseField    : "element_1",
			displayArea  : "calendar_1",
			button		 : "cal_img_1",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectDate
			});
		</script>
		<p class="guidelines" id="guide_1"><small>Insert Guidelines for user, if any. </small></p> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Workshop venue: </label>
		<div>
			<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_10" >
		<label class="description" for="element_10">Type of workshop </label>
		<div>
		<select class="element select medium" id="element_10" name="element_10"> 
			<option value="" selected="selected"></option>
<option value="1" >Grassroots</option>
<option value="2" >Child trafficking</option>
<option value="3" >First responder</option>
<option value="4" >Safe migration</option>
<option value="5" >Young@HAART</option>

		</select>
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">Facilitator name (should this be automatic?) </label>
		<span>
			<input id="element_3_1" name= "element_3_1" class="element text" maxlength="255" size="8" value=""/>
			<label>First</label>
		</span>
		<span>
			<input id="element_3_2" name= "element_3_2" class="element text" maxlength="255" size="14" value=""/>
			<label>Last</label>
		</span> 
		</li>		<li id="li_11" >
		<label class="description" for="element_11">Town  </label>
		<div>
		<select class="element select medium" id="element_11" name="element_11"> 
			<option value="" selected="selected"></option>
<option value="1" >First option</option>
<option value="2" >Second option</option>
<option value="3" >Third option</option>

		</select>
		</div> 
		</li>		<li id="li_12" >
		<label class="description" for="element_12">County </label>
		<div>
		<select class="element select medium" id="element_12" name="element_12"> 
			<option value="" selected="selected"></option>
<option value="1" >First option</option>
<option value="2" >Second option</option>
<option value="3" >Third option</option>

		</select>
		</div> 
		</li>		<li id="li_13" >
		<label class="description" for="element_13">Target group </label>
		<div>
		<select class="element select medium" id="element_13" name="element_13"> 
			<option value="" selected="selected"></option>
<option value="1" >Youth</option>
<option value="2" >Women's group</option>
<option value="3" >Church group</option>

		</select>
		</div> 
		</li>		<li id="li_14" >
		<label class="description" for="element_14">Age group </label>
		<div>
		<select class="element select medium" id="element_14" name="element_14"> 
			<option value="" selected="selected"></option>
<option value="1" >Below 18</option>
<option value="2" >36-55</option>
<option value="3" >56+</option>

		</select>
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Number of female participants: </label>
		<div>
			<input id="element_4" name="element_4" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_5" >
		<label class="description" for="element_5">Number of male participants: </label>
		<div>
			<input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li class="section_break">
			<h3>Section Break</h3>
			<p></p>
		</li>		<li id="li_15" >
		<label class="description" for="element_15">Multiple Choice </label>
		<span>
			<input id="element_15_1" name="element_15" class="element radio" type="radio" value="1" />
<label class="choice" for="element_15_1">First option</label>
<input id="element_15_2" name="element_15" class="element radio" type="radio" value="2" />
<label class="choice" for="element_15_2">Second option</label>
<input id="element_15_3" name="element_15" class="element radio" type="radio" value="3" />
<label class="choice" for="element_15_3">Third option</label>

		</span> 
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Paragraph </label>
		<div>
			<textarea id="element_7" name="element_7" class="element textarea medium"></textarea> 
		</div> 
		</li>		<li id="li_16" >
		<label class="description" for="element_16">Checkboxes </label>
		<span>
			<input id="element_16_1" name="element_16_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_16_1">First option</label>
<input id="element_16_2" name="element_16_2" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_16_2">Second option</label>
<input id="element_16_3" name="element_16_3" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_16_3">Third option</label>

		</span> 
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Upload a File </label>
		<div>
			<input id="element_8" name="element_8" class="element file" type="file"/> 
		</div>  
		</li>		<li id="li_9" >
		<label class="description" for="element_9">Phone </label>
		<span>
			<input id="element_9_1" name="element_9_1" class="element text" size="3" maxlength="3" value="" type="text"> -
			<label for="element_9_1">(###)</label>
		</span>
		<span>
			<input id="element_9_2" name="element_9_2" class="element text" size="3" maxlength="3" value="" type="text"> -
			<label for="element_9_2">###</label>
		</span>
		<span>
	 		<input id="element_9_3" name="element_9_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_9_3">####</label>
		</span>
		 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="32820" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		<div id="footer">
		</div>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>