<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <title>Form</title>
      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="/stylesheets.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   </head>

   <script>

   var submitting = false;

   window.addEventListener("beforeunload", function (e) {
     if(!submitting){
       var confirmationMessage = 'It looks like you have been editing something. '
                               + 'If you leave before saving, your changes will be lost.';

       (e || window.event).returnValue = confirmationMessage; //Gecko + IE
       return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
     }
     else{
       return;
     }
   });


   $(document).ready(function () {
     var d = new Date();
     $("#timeStamp").val(d);


     //Global variables to hold the inputed longitude and latitude
     var long = "";
     var lat = "";

     //if they change the latitude input field, update it
     $("#latitude").change(function () {
       lat = $("#latitude").val();
       updateGPS();
     });

     //if they change the longitude input field, update it
     $("#longitude").change(function () {
       long = $("#longitude").val();
       updateGPS();
     });

     //A helper function that calls the Google Maps API.
     //Takes in longitude and latitude and returns a JSON object
     //The JSON can be parsed to find the city name and county
     //More information here: https://developers.google.com/maps/documentation/geocoding/start?csw=1#ReverseGeocoding
     function updateGPS(){
       if(lat != "" && long != ""){
         var api = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + long + "&key=AIzaSyB9TsZwSkSs7ciL2hAiEsqYQLshaj0YZGM";

         $.get(api, function (data, status) {
           var res = data;
           var resArray = res.results[1].address_components;
           var i;
           var city = (((res.plus_code.compound_code).split(" "))[1]).replace(/,/g,"");
           var county = "";
           var countyFound = false;

           for (i = 0; i < resArray.length; i++){
             if(countyFound) {
               break;
             }
             if ((resArray[i].types).includes("administrative_area_level_1")) {
               county = resArray[i].long_name;
               countyFound = true;
             }
           }

           $("#town").val(city);

           if(countyFound){
             $("#county").val(county);
           } else {
             $("#county").val("County not found :( Input manually");
           }
         });
       }
     };

     $("#male_participants").change(function () {
       var value = parseInt($("#male_participants").val(), 10);
       if ($("#total_participants").val() == ""){
         $("#total_participants").val(value.toString());
       } else {
         $("#total_participants").val((value + parseInt($("#total_participants").val(),10)).toString());
       }
     });

     $("#female_participants").change(function () {
       var value = parseInt($("#female_participants").val(), 10);
       if ($("#total_participants").val() == ""){
         $("#total_participants").val(value.toString());
       } else {
         $("#total_participants").val((value + parseInt($("#total_participants").val(),10)).toString());
       }
     });

     $("#other_participants").change(function () {
       var value = parseInt($("#other_participants").val(), 10);
       if ($("#total_participants").val() == ""){
         $("#total_participants").val(value.toString());
       } else {
         $("#total_participants").val((value + parseInt($("#total_participants").val(),10)).toString());
       }
     });

     $("#typesOfExploitation").on('change', function () {
       var current = $(this).val();
       if(current.includes("other_exploit") && $("#other_exploit_display").css("display") != "block"){
         $("#other_exploit_display").css("display", "block");
       }
       else if(!(current.includes("other_exploit")) && $("#other_exploit_display").css("display") == "block"){
         $("#other_exploit_box").val("");
         $("#other_exploit_display").css("display", "none");
       }
     });

     $("#source").click(function (){
       if($("#source_display").css("display") != "block"){
         $("#source_display").css("display", "block");
       } else {
         $("#source_display").css("display", "none");
       }
     });

     $("#destination").click(function (){
       if($("#destination_display").css("display") != "block"){
         $("#destination_display").css("display", "block");
       } else {
         $("#destination_display").css("display", "none");
       }
     });

     $("#whoAreTheVictims").on('change', function () {
       var current = $(this).val();
       if(current.includes("otherVictims") && $("#other_victims_display").css("display") != "block"){
         $("#other_victims_display").css("display", "block");
       } else if (!(current.includes("otherVictims")) && $("#other_victims_display").css("display") == "block") {
         $("#other_victims_display").val();
         $("#other_victims_display").css("display", "none");
       }
     });

     $("#submitButton").click(function () {
       submitting = true;
       $("#theForm").submit();
       alert("Form saved!")
     });

   });

   </script>

     <body>
       <nav class="teal">
        <div class="nav-wrapper">
          <a class="brand-logo right"><img class="responsive-img" src="/images/HAART-2.png"></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            {{#if admin}}
            <li><a href="/administratorPage">Administrator Page</a></li>
            {{/if}}
            <li><a href="/dataVisualizationPage">Data Visuals</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
  </nav>
      <!-- <nav>
      <div class="nav-wrapper">
         <nav class="grey">
            {{#if admin}}
            <a href="/administratorPage">Administrator Page</a>
            {{/if}}
            <a href="/administratorPage">Data Visuals</a>
            <a href="/logout" class="brand-logo right">Logout</a>
          </nav>

        </div>
    </nav> -->

      <div class="section no-pad-bot" id="index-banner">

         <div class="container">
           <form action = "/form" method = "post" id="theForm" enctype='application/x-www-form-urlencoded'>
            <div class= "col s12 m9 l10">

            <!-- Page Content goes here -->
            <div class="row">
               <label for="workshopdate" class="">Workshop date</label>
               <input type="date" class="datepicker" id = "workshop_date" name="workshop_date" required>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Worskop Venue" name="workshop_venue" id="workshop_venue" type="text" class="validate" required >
                  <label for="workshop_venue">Workshop Venue</label>
               </div>
            </div>
            <div class="row">
               <label>Please select workshop type</label>
               <div class="input-field col s12">
                  <select class="browser-default" name="workshop_type" required>
                     <option disabled="disabled" selected="selected">Workshop type</option>
                     <option value="Grassroots">Grassroots</option>
                     <option value="Child trafficking">Child trafficking</option>
                     <option value="First responder">First responder</option>
                     <option value="Safe migration">Safe migration</option>
                     <option value="Young@HAART">Young@HAART</option>
                  </select>
               </div>
            </div>

            <div class = "row">
              <label> Please enter Latitude, Longitude</div>
                <input placeholder="Latitude" name = "latitude" id="latitude" type="text">
                <input placeholder="Longitude" name = "longitude" id="longitude" type="text">
            </div>
            <div class="row">
               <label>Please enter County</label>
               <input placeholder="County" id="county" name ="county" type="text">
            </div>
            <div class="row">
               <label>Please enter Town</label>
               <input placeholder="Town" id="town" name="town" type="text">
            </div>
            <div class="row">
               <label>Please select age group</label>
               <div class="input-field col s12">
                  <select class="browser-default" required name ="age_group">
                     <option disabled="disabled" selected="selected">Age group</option>
                     <option value="Below 18">Below 18</option>
                     <option value="18-35">18-35</option>
                     <option value="36-55">36-55</option>
                     <option value="56+">56+</option>
                  </select>
               </div>
            </div>
            <div class="row">
              <label>Please select target group</label>
                <div class="input-field col s12">
                  <p>
                    <label>
                      <input type="checkbox" name="womenGroup" value="Women's Group" />
                      <span>Women's Group</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="churchGroup" value="Church Group" />
                      <span>Church Group</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="firstResponders" value="First Responders" />
                      <span>First Responders</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="children" value="Children" />
                      <span>Children</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="communityGroup" value="Community Group" />
                      <span>Community Group</span>
                    </label>
                  </p>
                </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Female participants:" name="female_participants"id="female_participants" type="text" class="validate" required pattern ="[0-9]+">
                  <label for="female_participants">Number of female participants</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Male participants:" name="male_participants"id="male_participants" type="text" class="validate" required pattern ="[0-9]+">
                  <label for="male_participants">Number of male participants</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Other participants:" name="other_participants"id="other_participants" type="text" class="validate" required pattern ="[0-9]+">
                  <label for="male_participants">Number of other participants</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Total participants:" name="total_participants"id="total_participants" type="text">
                  <label for="total_participants">Number of Total participants</label>
               </div>
            </div>
            <div class="row">
               <label>Types of Exploitation (Command + click for mutiple)</label>
               <div class="input-field col s12">
                  <select class="browser-default" name="typesOfExploitation" id="typesOfExploitation" multiple size="8" style="height: 100%;">
                    <option value="Child Labor">Child Labor</option>
                    <option value="Sexual Exploitation">Sexual Exploitation</option>
                    <option value="Organ Removal">Organ Removal</option>
                    <option value="Forced Adult Marriages">Forced Adult Marriages</option>
                    <option value="Child Marriages">Child Marriages</option>
                    <option value="Forced Labor">Forced Labor</option>
                    <option value="Begging">Begging</option>
                    <option value="other_exploit">Other</option>
                  </select>
               </div>
            </div>
            <div class="row">
               <div class="input-field" id = "other_exploit_display" style="display: none">
                  <input placeholder="Other:" id="other_exploit_box" name ="other_exploit_box" type="text">
                  <label for="other_exploit_box">Other Exploit</label>
               </div>
            </div>
            <div class="row">
               <label>Types of Trafficking (Command + click for mutiple)</label>
               <div class="input-field col s12">
                  <select class="browser-default" name="typesOfTrafficking" id="typesOfTrafficking" multiple size="3" style="height: 100%;">
                    <option value="Internal">Internal</option>
                    <option value="Cross-Border">Cross-Border</option>
                  </select>
               </div>
            </div>
            <div class="row">
              <label>Is the area where you are primarily source or destination?</label>
                <div class="input-field col s12">
                  <p>
                     <label>
                     <input type="checkbox" name="source" id="source" value="Source"/>
                     <span>Source</span>
                     </label>
                  </p>
                  <p>
                     <label>
                     <input type="checkbox" name="destination" id = "Destination" value="Destination"/>
                     <span>Destination</span>
                     </label>
                  </p>
                </div>
              </div>
              <div class="row">
                 <div class="input-field" id = "source_display" style="display: none">
                    <input placeholder="Source:" id="source_box" name = "source_box" type="text">
                    <label for="source_box">Source:</label>
                 </div>
              </div>
              <div class="row">
                 <div class="input-field" id = "destination_display" style="display: none">
                    <input placeholder="Destination:" id="destination_box" name = "destination_box" type="text">
                    <label for="destination_box">Destination:</label>
                 </div>
              </div>
                <div class="row">
                   <label>Who are the Trafficker's? (Command + click for mutiple)</label>
                   <div class="input-field col s12">
                      <select class="browser-default" name="whoAreTheTraffickers" id="whoAreTheTraffickers" multiple size="8" style="height: 100%;">
                        <option value="Kenyan">Kenyan</option>
                        <option value="Foreigners">Foreigners</option>
                        <option value="Job Agents">Job Agents</option>
                        <option value="Relatives of the Victims">Relatives of the Victims</option>
                        <option value="Strangers">Strangers</option>
                        <option value="Criminal Groups">Criminal Groups</option>
                      </select>
                   </div>
                </div>
                <div class="row">
                   <label>Who are the Victims's? (Command + click for mutiple)</label>
                   <div class="input-field col s12">
                      <select class="browser-default" name="whoAreTheVictims" id="whoAreTheVictims" multiple size="16" style="height: 100%;">
                        <option value="Boys">Boys</option>
                        <option value="Girls">Girls</option>
                        <option value="Adult Men">Adult Men</option>
                        <option value="Adult Women">Adult Women</option>
                        <option value="Refuges / Foreigners">Refuges / Foreigners</option>
                        <option value="Orphans / Disababled Persons">Orphans / Disababled Persons</option>
                        <option value="LGBTQ+">LGBTQ+</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="otherVictims">Other</option>
                        <option value="Adult">Adult</option>
                        <option value="Child">Child</option>
                        <option value="Rich">Rich</option>
                        <option value="Poor">Poor</option>
                      </select>
                   </div>
                </div>
                <div class="row">
                   <div class="input-field" id = "other_victims_display" style="display: none">
                      <input placeholder="Other:" id="other_victims_box" name = "other_victims_box" type="text">
                      <label for="other_victims_box">Other Victims:</label>
                   </div>
                </div>
                <div class="row">
                   <label>How are the Victims trafficked? (Command + click for mutiple)</label>
                   <div class="input-field col s12">
                      <select class="browser-default" name="howAreTheyTrafficked" id="howAreTheyTrafficked" multiple size="5" style="height: 100%;">
                        <option value="Deception">Deception</option>
                        <option value="Coercion / Force">Coercion / Force</option>
                        <option value="Abduction">Abduction</option>
                        <option value="Abuse of Power">Abuse of Power</option>
                      </select>
                   </div>
                </div>
                   <div class="row">
                     <label>What is the biggest need in addressing Human Trafficking</label>
                     <div class="input-field col s12">
                        <select class="browser-default" name="biggestNeed" id="biggestNeed">
                          <option value="Lack of Awareness">Lack of Awareness</option>
                          <option value="Corruption">Corruption</option>
                          <option value="Lack of Services for Victims">Lack of Services for Victims</option>
                          <option value="Shame and Stigmatization">Shame and Stigmatization</option>
                        </select>
                     </div>
                   </div>
                   <div class="row">
                     <input style="display:none"id="timeStamp" name="timeStamp" value=""></input>
                   </div>
                   <div>
                      <button class="btn btn-medium btn-register waves-effect waves-light" id="submitButton" >Submit</button>
                   </a>

                   <a class="btn btn-medium btn-register waves-effect waves-light" href="/">Back</a>

                </div>
                <br>
                <br>
              </form>
            </div>
            <footer class="page-footer red" style="text-align: center">
            Made with &hearts; at <a id="footerLink" style="color: white;" href="https://www.Hack4Impactbu.com">Hack4Impact Boston University</a>
        </footer>
         </div>




      <!-- Footer -->
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/materialize.js"></script>
      <script src="js/init.js"></script>
      <!-- Script for drop down -->
      <script langauge="JavaScript">
         document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('select');
          var instances = M.FormSelect.init(elems, options);
         });
         $(document).ready(function(){
          $('select').formSelect();
         });
      </script>



      <!-- [x] CSS for additional form fields [x] -->
      <head>
          <style>

            .reveal-if-active {
              opacity: 0;
              max-height: 0;
              overflow: hidden;
            }
            input[type="radio"]:checked ~ .reveal-if-active,
            input[type="checkbox"]:checked ~ .reveal-if-active {
            opacity: 1;
            max-height: 100px; /* little bit of a magic number :( */
            overflow: visible;
            }


    </style>
</head>
      </div>
   </body>
</html>
