<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  </body>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>

<!-- HTML guides are all over the internet, to build this out I suggest just googling
what you're trying to accomplish online as you go!! -->

<div class="container">
  <form role="form" action="/form" method="post" style="max-width: 300px;">
    <div class="form-group">
      <h3> Not much going on in this form yet! <h3>
    </div>
  </form>
</div>
