<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
      <title>Form</title>
      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="/stylesheets.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   </head>

   <script>

   var submitting = false;

   window.addEventListener("beforeunload", function (e) {
     if(!submitting){
       var confirmationMessage = 'It looks like you have been editing something. '
                               + 'If you leave before saving, your changes will be lost.';

       (e || window.event).returnValue = confirmationMessage; //Gecko + IE
       return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
     }
     else{
       return;
     }
   });


   $(document).ready(function () {
     var d = new Date();
     document.getElementById("timeStamp").innerHTML = "Current Time: " + d;


     //Global variables to hold the inputed longitude and latitude
     var long = "";
     var lat = "";

     //if they change the latitude input field, update it
     $("#latitude").change(function () {
       lat = $("#latitude").val();
       updateGPS();
     });

     //if they change the longitude input field, update it
     $("#longitude").change(function () {
       long = $("#longitude").val();
       updateGPS();
     });

     //A helper function that calls the Google Maps API.
     //Takes in longitude and latitude and returns a JSON object
     //The JSON can be parsed to find the city name and county
     //More information here: https://developers.google.com/maps/documentation/geocoding/start?csw=1#ReverseGeocoding
     function updateGPS(){
       if(lat != "" && long != ""){
         var api = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + long + "&key=AIzaSyB9TsZwSkSs7ciL2hAiEsqYQLshaj0YZGM";

         $.get(api, function (data, status) {
           var res = data;
           var resArray = res.results[1].address_components;
           var i;
           var city = (((res.plus_code.compound_code).split(" "))[1]).replace(/,/g,"");
           var county = "";
           var countyFound = false;

           for (i = 0; i < resArray.length; i++){
             if(countyFound) {
               break;
             }
             if ((resArray[i].types).includes("administrative_area_level_1")) {
               county = resArray[i].long_name;
               countyFound = true;
             }
           }

           $("#town").val(city);

           if(countyFound){
             $("#county").val(county);
           } else {
             $("#county").val("County not found :( Input manually");
           }
         });
       }
     };

     $("#male_participants").change(function () {
       var value = parseInt($("#male_participants").val(), 10);
       if ($("#total_participants").val() == ""){
         $("#total_participants").val(value.toString());
       } else {
         $("#total_participants").val((value + parseInt($("#total_participants").val(),10)).toString());
       }
     });

     $("#female_participants").change(function () {
       var value = parseInt($("#female_participants").val(), 10);
       if ($("#total_participants").val() == ""){
         $("#total_participants").val(value.toString());
       } else {
         $("#total_participants").val((value + parseInt($("#total_participants").val(),10)).toString());
       }
     });

     $("#other_participants").change(function () {
       var value = parseInt($("#other_participants").val(), 10);
       if ($("#total_participants").val() == ""){
         $("#total_participants").val(value.toString());
       } else {
         $("#total_participants").val((value + parseInt($("#total_participants").val(),10)).toString());
       }
     });

     $("#typesOfExploitation").on('change', function () {
       var current = $(this).val();
       if(current.includes("other_exploit") && $("#other_exploit_display").css("display") != "block"){
         $("#other_exploit_display").css("display", "block");
       }
     });

     $("#source").click(function (){
       if($("#source_display").css("display") != "block"){
         $("#source_display").css("display", "block");
       } else {
         $("#source_display").css("display", "none");
       }
     });

     $("#destination").click(function (){
       if($("#destination_display").css("display") != "block"){
         $("#destination_display").css("display", "block");
       } else {
         $("#destination_display").css("display", "none");
       }
     });

     $("#whoAreTheVictims").on('change', function () {
       var current = $(this).val();
       if(current.includes("otherVictims") && $("#other_victims_display").css("display") != "block"){
         $("#other_victims_display").css("display", "block");
       }
     });

   });

   </script>

     <body>
      <nav>
      <div class="nav-wrapper">
         <nav class="grey">
            <a href="#" class="brand-logo right"><img class="responsive-img" src="/images/HAART-2.png"></a>
      </div>
      </nav>

      <div class="section no-pad-bot" id="index-banner">

         <div class="container">
           <form>
            <div class= "col s12 m9 l10">

            <!-- Page Content goes here -->
            <div class="row">
               <label for="workshopdate" class="">Workshop date</label>
               <input type="date" class="datepicker" required>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Worskop Venue" id="workshop_venue" type="text" class="validate" required >
                  <label for="workshop_venue">Workshop Venue</label>
               </div>
            </div>
            <div class="row">
               <label>Please select workshop type</label>
               <div class="input-field col s12">
                  <select class="browser-default" required>
                     <option disabled="disabled" selected="selected">Workshop type</option>
                     <option value="0">Grassroots</option>
                     <option value="1">Child trafficking</option>
                     <option value="2">First responder</option>
                     <option value="3">Safe migration</option>
                     <option value="4">Young@HAART</option>
                  </select>
               </div>
            </div>

            <div class = "row">
              <label> Please enter Latitude, Longitude</div>
                <input placeholder="Latitude" id="latitude" type="text">
                <input placeholder="Longitude" id="longitude" type="text">
            </div>
            <div class="row">
               <label>Please enter County</label>
               <input placeholder="County" id="county" type="text">
            </div>
            <div class="row">
               <label>Please enter Town</label>
               <input placeholder="Town" id="town" type="text">
            </div>
            <div class="row">
               <label>Please select age group</label>
               <div class="input-field col s12">
                  <select class="browser-default" required>
                     <option disabled="disabled" selected="selected">Age group</option>
                     <option value="0">Below 18</option>
                     <option value="1">18-35</option>
                     <option value="2">36-55</option>
                     <option value="3">56+</option>
                  </select>
               </div>
            </div>
            <div class="row">
              <label>Please select target group</label>
                <div class="input-field col s12">
                  <p>
                    <label>
                      <input type="checkbox" name="womenGroup" value="womenGroup" />
                      <span>Women's Group</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="churchGroup" value="churchGroup" />
                      <span>Church Group</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="firstResponders" value="firstResponders" />
                      <span>First Responders</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="children" value="children" />
                      <span>Children</span>
                    </label>
                  </p>
                  <p>
                    <label>
                      <input type="checkbox" name="communityGroup" value="communityGroup" />
                      <span>Community Group</span>
                    </label>
                  </p>
                </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Female participants:" id="female_participants" type="text" class="validate" required pattern ="[0-9]+">
                  <label for="female_participants">Number of female participants</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Male participants:" id="male_participants" type="text" class="validate" required pattern ="[0-9]+">
                  <label for="male_participants">Number of male participants</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Other participants:" id="other_participants" type="text" class="validate" required pattern ="[0-9]+">
                  <label for="male_participants">Number of other participants</label>
               </div>
            </div>
            <div class="row">
               <div class="input-field">
                  <input placeholder="Total participants:" id="total_participants" type="text">
                  <label for="total_participants">Number of Total participants</label>
               </div>
            </div>
            <div class="row">
               <label>Types of Exploitation (Command + click for mutiple)</label>
               <div class="input-field col s12">
                  <select class="browser-default" name="typesOfExploitation" id="typesOfExploitation" multiple size="8" style="height: 100%;">
                    <option value="childLabor">Child Labor</option>
                    <option value="sexualExploitation">Sexual Exploitation</option>
                    <option value="organRemoval">Organ Removal</option>
                    <option value="forcedAdultMarriages">Forced Adult Marriages</option>
                    <option value="childMarriages">Child Marriages</option>
                    <option value="forcedLabor">Forced Labor</option>
                    <option value="beggin">Begging</option>
                    <option value="other_exploit">Other</option>
                  </select>
               </div>
            </div>
            <div class="row">
               <div class="input-field" id = "other_exploit_display" style="display: none">
                  <input placeholder="Other:" id="other_exploit_box" type="text">
                  <label for="other_exploit_box">Other Exploit</label>
               </div>
            </div>
            <div class="row">
               <label>Types of Trafficking (Command + click for mutiple)</label>
               <div class="input-field col s12">
                  <select class="browser-default" name="typesOfTrafficking" id="typesOfTrafficking" multiple size="3" style="height: 100%;">
                    <option value="internal">Internal</option>
                    <option value="crossBorder">Cross-Border</option>
                  </select>
               </div>
            </div>
            <div class="row">
              <label>Is the area where you are primarily source or destination?</label>
                <div class="input-field col s12">
                  <p>
                     <label>
                     <input type="checkbox" name="source" id="source" value="source"/>
                     <span>Source</span>
                     </label>
                  </p>
                  <p>
                     <label>
                     <input type="checkbox" name="destination" id = "destination" value="destination"/>
                     <span>Destination</span>
                     </label>
                  </p>
                </div>
              </div>
              <div class="row">
                 <div class="input-field" id = "source_display" style="display: none">
                    <input placeholder="Source:" id="source_box" type="text">
                    <label for="source_box">Source:</label>
                 </div>
              </div>
              <div class="row">
                 <div class="input-field" id = "destination_display" style="display: none">
                    <input placeholder="Destination:" id="destination_box" type="text">
                    <label for="destination_box">Destination:</label>
                 </div>
              </div>
                <div class="row">
                   <label>Who are the Trafficker's? (Command + click for mutiple)</label>
                   <div class="input-field col s12">
                      <select class="browser-default" name="whoAreTheTraffickers" id="whoAreTheTraffickers" multiple size="8" style="height: 100%;">
                        <option value="kenyan">Kenyan</option>
                        <option value="foreigners">Foreigners</option>
                        <option value="jobAgents">Job Agents</option>
                        <option value="relativesOfVictims">Relatives of the Victims</option>
                        <option value="strangers">Strangers</option>
                        <option value="criminalGroups">Criminal Groups</option>
                      </select>
                   </div>
                </div>
                <div class="row">
                   <label>Who are the Victims's? (Command + click for mutiple)</label>
                   <div class="input-field col s12">
                      <select class="browser-default" name="whoAreTheVictims" id="whoAreTheVictims" multiple size="16" style="height: 100%;">
                        <option value="boys">Boys</option>
                        <option value="girls">Girls</option>
                        <option value="adultMen">Adult Men</option>
                        <option value="adultWomen">Adult Women</option>
                        <option value="refugesForeigners">Refuges / Foreigners</option>
                        <option value="orphansDisabled">Orphans / Disababled Persons</option>
                        <option value="lgbtq">LGBTQ+</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="otherVictims">Other</option>
                        <option value="strangers">Adult</option>
                        <option value="childVictim">Child</option>
                        <option value="rich">Rich</option>
                        <option value="poor">Poor</option>
                      </select>
                   </div>
                </div>
                <div class="row">
                   <div class="input-field" id = "other_victims_display" style="display: none">
                      <input placeholder="Other:" id="other_victims_box" type="text">
                      <label for="other_victims_box">Other Victims:</label>
                   </div>
                </div>
                <div class="row">
                   <label>How are the Victims trafficked? (Command + click for mutiple)</label>
                   <div class="input-field col s12">
                      <select class="browser-default" name="howAreTheyTrafficked" id="howAreTheyTrafficked" multiple size="5" style="height: 100%;">
                        <option value="deception">Deception</option>
                        <option value="coercionForce">Coercion / Force</option>
                        <option value="abduction">Abduction</option>
                        <option value="abuseOfPower">Abuse of Power</option>
                      </select>
                   </div>
                </div>
                   <div class="row">
                     <label>What is the biggest need in addressing Human Trafficking</label>
                     <div class="input-field col s12">
                        <select class="browser-default" name="biggestNeed" id="biggestNeed">
                          <option value="lackOfAwareness">Lack of Awareness</option>
                          <option value="corruption">Corruption</option>
                          <option value="lackOfServicesForVictims">Lack of Services for Victims</option>
                          <option value="shameAndStigmatization">Shame and Stigmatization</option>
                        </select>
                     </div>
                   </div>
                   <div class="row">
                     <p id="timeStamp"></p>
                   </div>
                   <div>
                      <a class="btn btn-medium btn-register waves-effect waves-light" href="/dataVisualizationPage">Submit</a>
                   </a>

                   <a class="btn btn-medium btn-register waves-effect waves-light" href="/dataVisualizationPage">Back</a>

                </div>
                <br>
                <br>
              </form>
            </div>
            <footer class="page-footer red" style="text-align: center">
            Made with &hearts; at <a id="footerLink" style="color: white;" href="https://www.Hack4Impactbu.com">Hack4Impact Boston University</a>
        </footer>
         </div>




      <!-- Footer -->
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/materialize.js"></script>
      <script src="js/init.js"></script>
      <!-- Script for drop down -->
      <script langauge="JavaScript">
         document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('select');
          var instances = M.FormSelect.init(elems, options);
         });
         $(document).ready(function(){
          $('select').formSelect();
         });
      </script>



      <!-- [x] CSS for additional form fields [x] -->
      <head>
          <style>

            .reveal-if-active {
              opacity: 0;
              max-height: 0;
              overflow: hidden;
            }
            input[type="radio"]:checked ~ .reveal-if-active,
            input[type="checkbox"]:checked ~ .reveal-if-active {
            opacity: 1;
            max-height: 100px; /* little bit of a magic number :( */
            overflow: visible;
            }


    </style>
</head>
      </div>
   </body>
</html>
