<!DOCTYPE html>
<html>

<head>

  <style>
    .modal {
      max-height: 90% !important;
    }

    .modal-form-row {
      margin-bottom: 0px !important;
    }


    .btn,
    .btn-large,
    .btn-flat {
      border: none;
      border-radius: 2px;
      display: inline-block;
      height: 400px !important;
      line-height: 36px;
      font-size: 20px;
      outline: 0;
      padding: 1 9rem !important;
      text-transform: uppercase;
      vertical-align: middle;
      -webkit-tap-highlight-color: transparent;
    }
  </style>

  <title>HAARTKenya Home</title>
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js">
  </script>
</head>

<script>
$(document).ready(function () {

  $("#usernameAdmin").val("@haartkenya.org");

  $("#usernameAdmin").on('input', function() {
    var current = $("#usernameAdmin").val();
    var findIndex = current.indexOf("@");
    current = current.slice(0,findIndex);
    $("#usernameAdmin").val(current + "@haartkenya.org");
  });

  $("#usernameFacilitator").val("@haartkenya.org");

  $("#usernameFacilitator").on('input', function() {
    var current = $("#usernameFacilitator").val();
    var findIndex = current.indexOf("@");
    current = current.slice(0,findIndex);
    $("#usernameFacilitator").val(current + "@haartkenya.org");
  });

  $("#registerEmailFacilitator").val("@haartkenya.org")

  $("#registerEmailFacilitator").on('input', function() {
    var current = $("#registerEmailFacilitator").val();
    var findIndex = current.indexOf("@");
    current = current.slice(0,findIndex);
    $("#registerEmailFacilitator").val(current + "@haartkenya.org");
  });

  $("#registerEmailAdministrator").val("@haartkenya.org");

  $("#registerEmailAdministrator").on('input', function() {
    var current = $("#registerEmailAdministrator").val();
    var findIndex = current.indexOf("@");
    current = current.slice(0,findIndex);
    $("#registerEmailAdministrator").val(current + "@haartkenya.org");
  });

  $("#submitAdminLogin").click(function () {
    $("#adminLogin").submit();
  });

  $("#submitFacilitatorLogin").click(function () {
    $("#facilitatorLogin").submit();
  });

  $("#submitFacilitatorRegister").click(function(){
    $("#facilitatorRegister").submit();
  });

  $("#submitAdminRegister").click(function () {
    $("#adminRegister").submit();
  });

});


</script>
<body style="background-color: grey">

  <nav>
    <div class="nav-wrapper grey">
      <a href="#" class="brand-logo">
        <img class="cirlce responsive-img" src="/images/HAART-2.png" alt="it ain't here">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li>HAARTKenya Landing Page</li>

      </ul>
    </div>
  </nav>




  <br>
  <div class="container">
    <div class="row">
      <div class="col s6">
        <button class="waves-effect waves-light btn modal-trigger" data-target="modal1" style="width:100% !important">Click Here If You Are an Administrator</button>
      </div>
      <div class="col s6">
        <button class="waves-effect waves-light btn modal-trigger" data-target="modal2" style="width:100% !important">Click Here If You Are A Facilitator</button>
      </div>
    </div>
    <br>
    <br>
    <div class = "row">
      <div class="col s6">
        <button class="waves-effect waves-light btn modal-trigger" data-target="modal3" style="width:100% !important">Administrator Registration</button>
      </div>
      <div class="col s6">
        <button class="waves-effect waves-light btn modal-trigger" data-target="modal4" style="width:100% !important">Facilitator Registration</button>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Login as an Administrator</h4>

      <div class="row">
        <form action = "/adminLogin" method = "post" id="adminLogin" enctype='application/x-www-form-urlencoded' name="adminLogin" class="col s12">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="usernameAdmin" name="usernameAdmin" type="text" class="form-control">
              <label for="usernameAdmin">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="passwordAdmin" name="passwordAdmin" type="text" class="form-control">
              <label for="passwordAdmin">Password</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button id="submitAdminLogin" class=" modal-action modal-close waves-effect waves-grey btn-flat">Submit</button>
    </div>
  </div>

  <!-- Modal Trigger -->
  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Login as a Facilitator</h4>
      <div class="row">
        <form action = "/facilitatorLogin" method = "post" id="facilitatorLogin" enctype='application/x-www-form-urlencoded' name="facilitatorLogin" class="col s12">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="usernameFacilitator" name="usernameFacilitator" type="text" class="form-control">
              <label for="usernameFacilitator">Username</label>
            </div>
          </div>
          <div class="row">
              <div class="row modal-form-row">
                <div class="input-field col s12">
                  <input id="passwordFacilitator" name="passwordFacilitator" type="text" class="form-control">
                  <label for="passwordFacilitator">Password</label>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
      <div class="modal-footer">
        <button id="submitFacilitatorLogin" class=" modal-action modal-close waves-effect waves-grey btn-flat">Submit</button>
      </div>
    </div>

  <div id="modal4" class="modal">
    <div class="modal-content">
      <h4>Register as a Facilitator</h4>
      <form action = "/" method = "post" id="facilitatorRegister" enctype='application/x-www-form-urlencoded' name="facilitatorRegister" class="col s12">
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input name="registerEmailFacilitator" id="registerEmailFacilitator" type="text" class="form-control">
              <label for="registerEmailFacilitator">Email</label>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input name="registerFirstNameFacilitator" id="registerFirstNameFacilitator" type="text" class="form-control">
              <label for="registerFirstNameFacilitator">First Name</label>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input name="registerLastNameFacilitator" id="registerLastNameFacilitator" type="text" class="form-control">
              <label for="registerLastNameFacilitator">Last Name</label>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input name="registerPasswordFacilitator" id="registerPasswordFacilitator" type="text" class="form-control">
              <label for="registerPasswordFacilitator">Password</label>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input name = "registerConfirmPasswordFacilitator" id="registerConfirmPasswordFacilitator" type="text" class="form-control">
              <label for="registerConfirmPasswordFacilitator">Confirm Password</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button id="submitFacilitatorRegister" class=" modal-action modal-close waves-effect waves-grey btn-flat">Submit</button>
    </div>
  </div>



  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4> Register as a Administrator</h4>
      <form action = "/" method = "post" id="adminRegister" enctype='application/x-www-form-urlencoded' name="adminRegister" class="col s12">
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="registerEmailAdministrator" name="registerEmailAdministrator" type="text" class="form-control">
              <label for="registerEmailAdministrator">Email</label>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input id="registerFirstNameAdministrator" name="registerFirstNameAdministrator" type="text" class="form-control">
              <label for="registerFirstNameAdministrator">First Name</label>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input name="registerLastNameAdministrator" id="registerLastNameAdministrator" type="text" class="form-control">
              <label for="registerLastNameAdministrator">Last Name</label>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input name="registerPasswordAdministrator" id="registerPasswordAdministrator" type="text" class="form-control">
              <label for="registerPasswordAdministrator">Password</label>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="row modal-form-row">
            <div class="input-field col s12">
              <input name="registerConfirmPasswordAdministrator" id="registerConfirmPasswordAdministrator" type="text" class="form-control">
              <label for="registerConfirmPasswordAdministrator">Confirm Password</label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button id="submitAdminRegister" class=" modal-action modal-close waves-effect waves-grey btn-flat">Submit</button>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>


<script language="JavaScript">document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, options);
  });


  $(document).ready(function () {
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();

  });

</script>

</html>
